.footer.section
  hr(width='50%')
  .row.text-center
    .col-xs-12.col-md-12
      p
        | Created by Ben Shippey, 2018
        br
        a(href='https://www.linkedin.com/in/benjaminshippey/')
          i.fa.fa-linkedin(aria-hidden='true')
        a(href='http://codepen.io/BenWS/')
          i.fa.fa-codepen(aria-hidden='true')
        a(href='https://github.com/BenWS')
          i.fa.fa-github(aria-hidden='true')
        a(href='http://stackoverflow.com/users/3633149/benws')
          i.fa.fa-stack-overflow(aria-hidden='true')
